body {
    color: #444444;
    font-weight: 400;
    background: #ffffff;
    font-family: 'Barlow', sans-serif;
   
}


h2, 
h3, 
h5, 
h6 {
    color: #344767;
    
}
h1{
    color: #d8caca;
}
.password-container {
    position: relative;
    width: fit-content;
}
.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}
#password {
    padding-right: 25px; /* Adjust the value as needed */
}
.password-toggle-icon:hover {
    cursor: pointer;
}


a {
    color: #202C45;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #371ce8;
    outline: none;
    text-decoration: none;
}
.logo-link {
    text-decoration: none; /* Remove underline from logo link */
    color: #FFF; /* Set color for logo link */
  }

.logo-link:hover {
      color: #B0C4DE; /* Hover color for logo link */
  }
.logo span {
          color: #4682B4; /* Same color for the span */
      }
.action {
    position: relative; /* Change to relative so it respects the parent container's position */
    display: inline-block; /* Change to inline-block to fit the content */
  }
  
  .action .profile {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu {
    position: absolute;
    top: calc(100% + 10px); /* Position it below the profile picture */
    right: 0;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: border-box; /* Change to border-box to include padding in width */
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1); /* Fix the box-shadow syntax */
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1000; /* Adjust as needed */
  }
  
  .action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  
  .action .menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  
  .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
    color: #ff5d94;
  }
  .action:hover .menu {
    visibility: visible;
    opacity: 1;
}
  
   /* Button Styles */
 
.btn.btn-custom {
    padding: 10px 30px 12px 30px !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #ffffff !important;
    background-color: #4682B4 !important;
    border-color: #4682B4 !important;
    border: none !important;
    border-radius: 60px !important;
    box-shadow: inset 0 0 0 0 #202C45 !important;
    transition: ease-out 0.5s !important;
    -webkit-transition: ease-out 0.5s!important;
    -moz-transition: ease-out 0.5s !important;
}
.btn.btn-custom:hover {
    border-color: #357ca5 !important;
    background-color: #357ca5 !important;
    box-shadow: inset 200px 0 0 0 #3a5da8 !important;
}

.btn.btn-danger{
    padding: 10px 30px 12px 30px !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #ffffff !important;
    background-color: #ea0606 !important;
    border-color: #ea0606 !important;
    border: none !important;
    border-radius: 60px !important;
    box-shadow: inset 0 0 0 0 #202C45 !important;
}

.btn.btn-danger:hover {
    border-color: #c70505 !important;
    background-color: #bb0505 !important;
    box-shadow: inset 200px 0 0 0 #bb0505 !important;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-size: inherit;
    margin-left: 0;
}
/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
    background: #ffffff;
}

.top-bar .logo {
    text-align: left;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: -4px 0 0 0;
    color: #371ce8;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    font-style: italic;
}

.top-bar .logo h1 span {
    color: #202C45;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #202C45;
    border-radius: 40px;
}

.top-bar .top-bar-icon i {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.top-bar .top-bar-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    background: #202C45;
}

.nav-bar.nav-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    padding: 20px 0;
    background: #202C45 !important;
    transition: .3s;
}

.nav-bar.nav-sticky .navbar {
    padding: 5px 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    padding: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #371ce8;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.nav-bar .btn.btn-custom {
    color: #202C45;
    background: #ffffff;
    box-shadow: inset 0 0 0 0 #371ce8;
}

.nav-bar .btn:hover {
    color: #ffffff;
    background: #371ce8;
    box-shadow: inset 200px 0 0 0 #371ce8;
}

@media (min-width: 992px) {
    .nav-bar .navbar-brand {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        padding: 5px 0;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }
}

